<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <style media="screen">

    .JD{
      background-color: black;
      margin: auto;
      padding: 50px;
      background:rgba(255,255,255,0.5);
      width: 400px;
      height: 405px;


    }
    .Image{
      width: 400px;
      height: 10px;
      padding: 50px;
      margin: auto;
    }
    .header{
      text-align: center;

      color: DarkGray;
      text-decoration-style: wavy;

      margin: auto;
      padding-bottom: 60px;
    }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">JOSS MUSIC</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="#"><a href="#">Home</a></li>
          <li><a href="#" style="float:right">Profile</a></li>
          <li><a href="/new" style="float:right">Song Upload</a></li>
          <li><input type="text" class="" placeholder="Search" style="width:300px; margin-top:10px">
          <button class="btn btn-default" type="submit">
                <i >go</i>
              </button>
              </li>
              <li><a href="#" style="float:right;">Logout</a></li>
          
        </ul>
        <div class="navbar-div navbar-left">
          <div class="input-group">
            
            <div class="input-group-btn">
              
            </div>
          </div>
        </div>
      </div>
    </nav>
    
    <div class="col-sm-2" style="background-color: none">

      <div class="" style="padding-left:4px">
        <img src="CoverPic2.jpg" class="img-rounded" alt="Cinque Terre" width="200" height="150">
      </div>

      <div class="col-sm-2" style="float:left;  padding-left:4px">
        <!--<label for="Name"><h3><strong>Ed Sheron</strong></h3></label><br>
        <label for="Follower">Followers: 119900</label>-->
        <h1>Profile  </h1>
        <% console.log(request.user) %>
        <h2> Name: <%= request.user.username %></h2>
        <h2> Name: <%= request.user.email %></h2>
      </div>
</div>
<div class="Image">
    <div action="/action_page.php">
      <p>Select Image:</p><input type="file" name="pic" class="btn btn-primary" accept="image/*">

    </div>

</div>
  </br></br></br>
  <div class="JD">
    <div class="div-vertical">
  <fieldset>
    <legend>EDIT</legend>
    <div class="div-group">
      <div class="col-md-8">
        <input type="text" class="div-control" id="name" placeholder="Song Name" style="width:250px">
      </div>
    </div>

    <div class="div-group">
      <div class="col-md-8">
        <input type="text" class="div-control" id="description" placeholder="Description" style="width:250px">
      </div>
    </div>

    <div class="div-group">
      <div class="col-md-8">
        <input type="text" class="div-control" id="artist" placeholder="artist" style="width:250px">
      </div>
    </div>
    
    <div class="div-group">
      <div class="col-md-8">
        <input type="text" class="div-control" id="genre" placeholder="Genre" style="width:250px">
      </div>
    </div>

    <div class="div-group">
      <div class="col-md-8">
        <input type="text" class="div-control" id="link" placeholder="Droplink" style="width:250px">
      </div>
    </div>

    <div class="div-group">
      <div class="col-lg-10 col-lg-offset-2">
      </br></br>
        <div action="/action_page.php">
          <input type="file" name="pic"  accept="audio/basic/*">
          <button id="submit" class="btn btn-primary" >Upload
        </div>
        <button type="reset" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </fieldset>
</div>

        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script>
        var songId = <%- JSON.stringify(request.song._id) %>;
            var song = {};
            $("#name").change(function(){
                song.name = $("#name").val();
            });
            
            $("#description").change(function(){
                song.description = $("#description").val();
                
            });
            
            $("#artist").change(function(){
                //song.price = undefined;
                song.artist = $("#artist").val();
                
            });
            
            $("#genre").change(function(){
                song.genre = $("#genre").val();
            });
            
            $("#link").change(function(){
                song.link = $("#link").val();
            });
            
            $("#submit").click(function(){
                console.log(song);
                $.ajax({
                    method: "PUT",
                   // url: "/api/songs/edit/"+songID,
                    url: "/api/song/edit/"+songId,
                    data: song
                }).done(function(response){
                    console.log(response);
                    //window.location.replace("/"+response._id);
                    window.location.replace("/all");
                }).fail(function(response){
                   // $("#error").text(JSON.parse(response.responseText).message);
                    console.log(response);
                });
            });
        </script>

  </body>
</html>